/* 图标 */
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}

.iconfont, :after {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:link,a:visited,a:active{
  text-decoration: none;
  color: #333;
}
*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
i{
  font-style: normal;
}
#container{
  position: relative;
  left: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* topnav */
.top{
  height: 60px;
  padding: 10px 20px;
  background-color: #24292e;
  line-height: 1;
}
.logo{
  float: left;
  display: block;
  font-size: 40px;
  color: rgba(255,255,255,0.75) !important;
}
.topnav{
  float: right;
}
.topnav i,
.topnav span{
  color: rgba(255,255,255,0.75);
  font-size: 16px;
  line-height: 40px;
}
.topnav i{
  margin-right: 10px;  
}
.topnav span{
  margin-right: 20px;
}
/* moblie */
#mob-nav{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  overflow: auto;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#mob-more{
  display: none;
  float: right;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 26px;
  cursor: pointer;
}
#mob-close{
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 26px;
  line-height: 40px;
  cursor: pointer;
}
#mob-nav a{
  display: block;
  position: relative;
  height: 40px;
  padding-left: 20px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  color: #24292e;
}
#mob-nav a:after{
  content: '\e602';
  position: absolute;
  right: 20px;
}
#mob-nav span{
  margin-left: 10px;
}
@media all and (max-width: 810px){
  .topnav{
    display: none;
  }
  #mob-more{
    display: block;
  }
  #container.change{
    left: -100%;
  }
  #mob-nav.change{
    right: 0;
  }
}