iframe{
    border:none;
}
body{
    background-color: #202020;
    overflow: hidden;
}
h1{
    float: left;
    margin-left: 20px;
}
h1>span{
    position: absolute;
    top: -999em;
}
h1 img{
    height: 50px;
    width: auto;
}
.head{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    background-color: #333;
    z-index: 9;
}
#run{
    float: left;
    margin-left: 30px;
    line-height: 60px;
    margin-top: -1px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}
#run:hover{
    border-bottom: 1px solid #fff;
}
#run svg{
    vertical-align: middle;
}
.editor{
    position: relative;
    height: 100%;
}
.view{
    float: left;
    position: relative;
    width: calc(50% - 0.5px);
    height: 100%;
    overflow-y: hidden;
}
.view h2{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}
.edit{
    position: relative;
    height: calc(33.3vh - 60.5px);
    padding-top: 24px;
}
.wc-line{
    float: left;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.75);
}
.hc-line{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.75);
}
#html,#css,#js{
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 16px;
}
.mob-nav{
    display: none;
    position: fixed;
    top: 0;
    right: 10px;
    height: 60px;
    z-index: 9;
}
.mob-nav a{
    float: left;
    padding: 0 8px;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.75);
}
@media all and (max-width: 640px){
    body{
        overflow-y: auto;
    }
    .view{
        width: 100%;
    }
    /* .editor{
        height: 280vh;
    } */
    .wc-line{
        width: 100%;
        height: 1px;
    }
    #run{
        margin-left: 20px;
    }
    #run span{
        display: none;
    }
    .mob-nav{
        display: block;
    }
}
